@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Play:wght@400;700&display=swap');

@import "tailwindcss";

:root {
  --bg-color: #D9D9D9;
  --text-color: #070A52;
  --text-secondary-color: #000000;
  --text-winner-color: #AF2D2D;
  --btn-bg-color: #DF2E38;
  --btn-text-color: #FFFFFF;
  --svg-fill-color: #000000;
}

.dark {
  --bg-color: #353535;
  --text-color: #BEBFD1;
  --btn-bg-color: #2751A3;
  --text-secondary-color: #ffffff;
  --text-winner-color: #6881D8;
  --svg-fill-color: #FFFFFF;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 14px;
}

.theme-switcher {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 96px;
  height: 96px;
  background-size: 76px 76px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.theme-switcher--light {
  background-image: url('./assets/dark.svg');
}

.theme-switcher--dark {
  background-image: url('./assets/light.svg');
}

.visualy-hidden {
  visibility: hidden;
}

.mirrored {
  transform: scaleX(-1);
}

.btn-wrapper--no-events {
  pointer-events: none;
}

.animated {
  animation: shaking 1s linear;
}

@keyframes shaking {
  0%, 33%, 67%, 100% {
    transform: translateY(0);
  }

  16%, 50%, 84% {
    transform: translateY(-15px);
  }
}